*{
    margin: 0;
    padding: 0;
    

}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar .navbar-container {
    display: flex;
    align-items: center;
}
.navbar .menu .menu-bar {
    display: flex;
    text-decoration: none;
    text-decoration-style: none;
    
}

.navbar .navbar-container img {
    height: 60px;
    width: 139px;
    margin: 16px 206px 16px 120px;
   
}
.navbar .navbar-container .menu-bar{
    display: flex;
    list-style: none;
    font-size: 16px;
    
    
}

.navbar .navbar-container .menu-bar a{
    text-decoration: none;
    margin: 32px;
    color: black;
}

.btn {
    border:none;
    border-radius: 5px;
    width: 164px;
    height:44px;
    background-color: #469165;
    font-weight: 600px;
    color: #FFFFFF;
    margin: 24px 120px 24px 206px;
    cursor: pointer;
    
}

.banner {
    background-image: url(../image/logo/hero-bg.png);
    height: 674px; 
    width: 1600px; 
    vertical-align: middle;
    
}
.btnw{
    border: none;
    border-radius: 30px;
    background-color: #FFFFFF;
    font-size: medium;
    height: 35px;
    width: 229px;
    color:#469165;
    margin: 115px 685px 16px 685px ;
    cursor: pointer;

}

.banner .heading {
    /* margin: 16px 295px; */
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    height:168px;
    width: 770px;
    font-size: 2em;
}
.banner  .str{
    color: #FFFFFF;
}
.banner .heading .not{
    color: #30B868;
}

.banner .para {
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 2px;
    gap: initial;
    cursor: pointer;
}

.btnq{
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #30B868;
    height: 41px;
    width: 250px;
     margin: 32px 16px 179px 590px;  
    font-size: medium;
    cursor: pointer;
  
   

}

.btne {
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 32px 567px 179px 16px ;
    width: 150px;
    height: 41px;
    background-color: transparent;
    max-width: max-content;
    cursor: pointer;

}
.button{
    display: flex;
    align-items: center;
}

#notes {
    text-align: center;
    padding-top: 50px;
}
#para {
    color: #627382;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content:center;
    gap: 20px;
    
    
    
}
.box-container{
    border:none;
    height: 200px;
    width: 250px;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px whitesmoke;
    background-color: #FFFFFF;
    padding-top: 40px;
}
.box-container .img-container {
    border: none;
    border-radius: 50%;
    background-color: #F95555;
    height: 30px;
    width: 30px;
    padding: 5px; 
    margin: 0 auto;
    margin-top: 20px;
    
    
    
}
.box-container .img-container img{
    height: 24px;
    width: 24px;
    text-align: center;
   
    
}


.heading{
    padding-top: 5px;
}
.box-para {
    color: #627382;
    padding-top: 5px;
    text-align: center;
    font-size: small;
}

.solution-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 120px ;
}

.icon {
    height: 600px;
    width: 600px;
}

.solution-icon .p {
    color: #469165;
    font-size:smaller;
    padding-bottom: 10px;
}
.solution-icon .icon-heading {
    padding-bottom: 16px;
}

.paragraph {
    border:none;
    height: 250px;
    width: 700px;
}

.per {
    color: #627382;
    padding-bottom: 40px;
}

.solution-icon .checkclicle {
    
    list-style-type: none;
}

.ready {
    height: 384px;
    width: 1348px;
    margin: 120px;
    text-align: center;
    padding-top: 80px;
    background-color: #F7F6F2;
    
}
.ready .join {
    color: #627382;
    font-size: 16px;
    padding-top: 16px;
}

.ready .to {
    font-weight: bold;
    color: #001931;
    font-size: 40px;
}

.ready .free {
    font-size: 14px;
    color: #627382;
}

.footer {
    border: 1px solid red;
    background-color: #001931;
    height: 348px;
    width: 1600px;
   margin: 0;
    padding: 0;
    overflow: hidden;
}
.footer .last-footer {
    padding:120px 120px 164px 0;
    
}
.footer .link {
display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    
}

.footer .social-link{
    padding-bottom: 10px;
}


.footer .last-footer p {
    color: #FFFFFF;
}

.footer .copy {
    border-top: 1px solid white;
    text-align: center;
    color: #8d3f3f;
    padding-top: 30px;
    border: 20px 80px 0 0 ;
    font-size: smaller;
}
#btt:hover{
    color: rgb(255, 132, 0);

}